### 1. Utilit√°rios

In [1]:
import pandas as pd
import os

In [2]:
# Lista de 3 valores:
# Caminho dos arquivo no diret√≥rio. (str)
# Nome para Dataframe. (str)
# Nome para subtituir coluna "Total" de cada arquivo. (str)
dados = [
    (os.path.join("..", "√Årea de Culturas Permanentes (hectares)", "√Årea colhida permanente 1999-2020.csv"), "df_permanente", "Culturas P. Colhidas (hec)"),
    (os.path.join("..", "Producao-Milhos", "Produ√ß√£o - milho(R$).xls"), "df_milho", "Producao de Milho (R$)"),
    (os.path.join("..", "Producao-Soja", "Produ√ß√£o - soja (R$).csv"), "df_soja", "Producao de Soja (R$)"),
    (os.path.join("..", "Despesa Or√ßament√°ria (R$)", "Despesa por fun√ß√£o - gest√£o ambiental, agricultura e organiza√ß√£o agr√°ria - empenhada - estadual.xls"), "df_despesa", "Despesa Or√ßament√°ria (R$)"),
    (os.path.join("..", "Focos de Incendio", "firefoci.csv"), "df_incendio", "Focos de Inc√™ndio"),
    (os.path.join("..", "√Årea de Culturas Tempor√°rias (hectares)", "√Årea colhida tempor√°ria 1999-2020.csv"), "df_temporaria", "Culturas T. Colhidas (hec)"),
    (os.path.join("..", "√Årea Plantada ou Colhida (hectares)", "√Årea plantada ou destinada √† colheita - total.xls"), "df_plantada_colhida", "√Årea Plantada ou Colhida (hec)"),
    (os.path.join("..", "PIB", "PIB 1999-2020.csv"), "df_pib", "PIB Estadual"),
    (os.path.join("..", "Valor da Produ√ß√£o Agr√≠cola (R$)", "Valor de Produ√ß√£o 1999-2020.csv"), "df_producao", "PIB Agr√≠cula Estadual") 
]

# Lista dos estados que queremos filtrar
estados = ["Acre", "Amazonas", "Amap√°", "Maranh√£o", "Par√°", "Roraima", "Tocantins", "Rond√¥nia", "Mato Grosso"] 

# Lista de anos como strings
anos_str = [str(year) for year in range(1999, 2021)]

### 2. Pr√©-processamento

O objetivo final √© unir os valores anuais de 1999 a 2020 de cada vari√°vel estadual dos 9 estados da regi√£o em uma tabela √∫nica, para futura implementa√ß√£o de um algoritmo de machine learning.

In [3]:
for arquivo, nome_df, coluna in dados:
    try:
        # Ler arquivos .csv com separador ',', se n√£o, ler arquivo .xls
        try:
            df = pd.read_csv(arquivo, sep=",")
        except:
            df = pd.read_excel(arquivo)

        # Normalizar os nomes das colunas (remover espa√ßos extras)
        df.columns = df.columns.str.strip()

        # Configurar Pandas para exibir n√∫meros inteiros completos
        pd.options.display.float_format = '{:.2f}'.format
        
        # Remover colunas "C√≥digo" e "Sigla", se existirem
        colunas_para_remover = [col for col in ["Codigo", "C√≥digo", "Sigla"] if col in df.columns]
        if colunas_para_remover:
            df = df.drop(columns=colunas_para_remover)
            print(f"üóëÔ∏è Colunas removidas de {nome_df}: {colunas_para_remover}")

        # Filtrar os estados desejados
        if "Estado" in df.columns:
            df = df[df["Estado"].isin(estados)]
            print(f"üåé Filtrados apenas os estados desejados em {nome_df}")

        # Armazenar na vari√°vel correta
        globals()[nome_df] = df
        print(f"‚úî {arquivo} carregado como {nome_df}")
        
    except Exception as e:
        print(f"Erro ao ler {arquivo}: {e}")

# Exibir quais DataFrames foram carregados
print("\nüìÇ DataFrames dispon√≠veis:", list(nome_df for _, nome_df, _ in dados))

üóëÔ∏è Colunas removidas de df_permanente: ['Codigo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_permanente
‚úî ..\√Årea de Culturas Permanentes (hectares)\√Årea colhida permanente 1999-2020.csv carregado como df_permanente
üóëÔ∏è Colunas removidas de df_milho: ['Codigo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_milho
‚úî ..\Producao-Milhos\Produ√ß√£o - milho(R$).xls carregado como df_milho
üóëÔ∏è Colunas removidas de df_soja: ['Sigla']
üåé Filtrados apenas os estados desejados em df_soja
‚úî ..\Producao-Soja\Produ√ß√£o - soja (R$).csv carregado como df_soja
üóëÔ∏è Colunas removidas de df_despesa: ['Codigo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_despesa
‚úî ..\Despesa Or√ßament√°ria (R$)\Despesa por fun√ß√£o - gest√£o ambiental, agricultura e organiza√ß√£o agr√°ria - empenhada - estadual.xls carregado como df_despesa
‚úî ..\Focos de Incendio\firefoci.csv carregado como df_incendio
üóëÔ∏è Colunas removidas de df_temporaria: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_temporaria
‚úî ..\√Årea de Culturas Tempor√°rias (hectares)\√Årea colhida tempor√°ria 1999-2020.csv carregado como df_temporaria
üóëÔ∏è Colunas removidas de df_plantada_colhida: ['Codigo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_plantada_colhida
‚úî ..\√Årea Plantada ou Colhida (hectares)\√Årea plantada ou destinada √† colheita - total.xls carregado como df_plantada_colhida
üóëÔ∏è Colunas removidas de df_pib: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_pib
‚úî ..\PIB\PIB 1999-2020.csv carregado como df_pib
üóëÔ∏è Colunas removidas de df_producao: ['C√≥digo', 'Sigla']
üåé Filtrados apenas os estados desejados em df_producao
‚úî ..\Valor da Produ√ß√£o Agr√≠cola (R$)\Valor de Produ√ß√£o 1999-2020.csv carregado como df_producao

üìÇ DataFrames dispon√≠veis: ['df_permanente', 'df_milho', 'df_soja', 'df_despesa', 'df_incendio', 'df_temporaria', 'df_plantada_colhida', 'df_pib', 'df_producao']

##### 3. Transforma√ß√£o formato Wide para Long

Os DataFrames est√£o no formato longo, com 22 colunas representando os anos de 1999 a 2020, exceto no Data frame "Focos de inc√™ndio", em que as colunas representam os 9 estados.
A fun√ß√£o .melt() permite transformar essas colunas em linhas, facilitando a an√°lise e manipula√ß√£o dos dados.

In [4]:
df_incendio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ano          22 non-null     int64
 1   Acre         22 non-null     float64
 2   Amap√°        22 non-null     float64
 3   Amazonas     22 non-null     float64
 4   Maranh√£o     22 non-null     float64
 5   Mato Grosso  22 non-null     float64
 6   Par√°         22 non-null     float64
 7   Rond√¥nia     22 non-null     float64
 8   Roraima      22 non-null     float64
 9   Tocantins    22 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 1.8 KB

In [5]:
for arquivo, nome_df, coluna in dados:
    df = globals()[nome_df]
    try:
        df = df.melt(id_vars=['Estado'], value_vars=anos_str, var_name='Ano', value_name= f'{coluna}')
    except:
        #altera√ß√µes df_incendio
        df["Ano"] = df['Ano'].astype(str)
        df = df.melt(id_vars=["Ano"], value_vars=estados, var_name="Estado", value_name= f'{coluna}')
    globals()[nome_df] = df

In [6]:
df_incendio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ano                198 non-null    object
 1   Estado             198 non-null    object
 2   Focos de Inc√™ndio  198 non-null    float64
dtypes: float64(1), object(2)
memory usage: 4.8+ KB

##### 3. Merge do DataFrame final

In [7]:
df_geral = df_permanente.merge(df_milho, how='outer', on=["Ano", "Estado"])\
                            .merge(df_soja, how='outer', on=["Ano", "Estado"] )\
                            .merge(df_despesa, how='outer', on=["Ano", "Estado"])\
                            .merge(df_temporaria, how='outer', on=["Ano", "Estado"])\
                            .merge(df_plantada_colhida, how='outer', on=["Ano", "Estado"])\
                            .merge(df_pib, how='outer', on=["Ano", "Estado"])\
                            .merge(df_producao, how='outer', on=["Ano", "Estado"])\
                            .merge(df_incendio, how='outer', on=["Ano", "Estado"])
df_geral

,Estado,Ano,Culturas P. Colhidas (hec),Producao de Milho (R$),Producao de Soja (R$),Despesa Or√ßament√°ria (R$),Culturas T. Colhidas (hec),√Årea Plantada ou Colhida (hec),PIB Estadual,PIB Agr√≠cula Estadual,Focos de Inc√™ndio
0,Acre,1999,9864,18904.94,135.89,16480351.00,81922,91787,1866542.32,280900.59,347.00
1,Amap√°,1999,1283,663.59,NaN,2869221.75,6903,8235,2128307.03,54019.05,101.00
2,Amazonas,1999,61397,12572.44,875.29,17685970.41,150055,213964,13933920.08,623336.20,1048.00
3,Maranh√£o,1999,28896,96560.50,243966.36,15239850.98,1130797,1180275,10308256.16,1174349.20,8712.00
4,Mato Grosso,1999,91480,287455.01,3470093.09,43232165.00,4259560,4445242,12364904.96,6462377.66,44307.00
...,...,...,...,...,...,...,...,...,...,...,...
193,Mato Grosso,2020,37589,10090285.97,22939332.03,555308252.18,17149919,17188641,178649564.00,41799931.48,47708.00
194,Par√°,2020,651600,346956.98,1428548.90,380705994.45,1310866,1968093,215935604.00,7981858.68,38603.00
195,Rond√¥nia,2020,83545,396740.36,884772.42,210685707.64,721826,813919,51598741.00,2196163.25,11145.00
196,Roraima,2020,10007,47137.95,162262.75,67296396.75,84045,94052,16024276.00,422452.65,1930.00
197,Tocantins,2020,5286,620513.33,2452103.48,245572935.63,1547057,1552679,43649803.00,4316435.59,12093.00

##### 4. Normaliza√ß√£o por √°rea

Ajustar os valores de cada registro de acordo com a extens√£o territorial de seu respectivo estado

In [ ]:
arquivo_area = os.path.join("Extens√£o Territorial", "IBGE_area_geografica_98-22.csv")
df_area = pd.read_csv(arquivo_area, sep=";", skiprows=1)

In [9]:
df_area

,Sigla,C√≥digo,Estado,1998,2000,2010,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 16
0,AC,12,Acre,"153149,9","152521,9","164123,04","164123,739","164123,739","164123,712","164123,737","164123,737","164123,738","164123,964","164173,431","164173,431","164173,431",NaN
1,AL,27,Alagoas,"27933,1","27818,9","27778,506","27774,993","27848,003","27848,158","27848,14","27848,14","27843,295","27843,295","27830,656","27830,657","27830,657",NaN
2,AM,13,Amazonas,"1577820,2","1570947,1","1559159,148","1559148,889","1559148,89","1559149,074","1559146,876","1559146,876","1559168,117","1559167,889","1559167,878","1559167,879","1559255,883",NaN
3,AP,16,Amap√°,"143453,7","142815,8","142828,521","142828,52","142828,52","142828,523","142828,521","142828,521","142470,762","142470,762","142470,762","142470,762","142470,762",NaN
4,BA,29,Bahia,"567295,3","564272,3","564733,177","564733,081","564733,081","564732,642","564732,45","564732,45","564722,611","564760,427","564760,427","564760,427","564760,426",NaN
5,CE,23,Cear√°,"146348,3","145712,3","148920,472","148886,308","148886,308","148887,632","148887,633","148887,633","148894,757","148894,441","148894,442","148894,441","148894,441",NaN
6,DF,53,Distrito Federal,"5822,1","5801,9","5779,999","5779,999","5779,999","5779,999","5779,997","5779,997","5760,783","5760,783","5760,784","5760,784","5760,784",NaN
7,ES,32,Esp√≠rito Santo,"46184,1","46047,2","46095,583","46095,299","46096,925","46089,39","46086,907","46086,907","46074,444","46074,447","46074,447","46074,447","46074,447",NaN
8,GO,52,Goi√°s,"341289,5","340118,8","340111,783","340111,376","340111,376","340110,385","340106,492","340106,492","340125,715","340203,329","340242,854","340242,859","340242,858",NaN
9,MA,21,Maranh√£o,"333365,6","331918,6","331937,45","331936,948","331936,948","331936,955","331936,949","331936,949","329642,17","329642,182","329651,495","329651,495","329651,495",NaN
10,MG,31,Minas Gerais,"588383,6",586553,"586522,121999999","586519,732999999","586519,726999999","586521,234999999","586520,731999999","586520,731999999","586521,120999999","586521,122999999","586513,992999999","586513,992999999","586513,990999999",NaN
11,MS,50,Mato Grosso do Sul,"358158,7","357139,9","357145,559","347230,192","347230,192","347230,192","347230,189","347230,189","347201,229","352084,101","352086,561","352086,561","352080,648",NaN
12,MT,51,Mato Grosso,"906806,9","903385,2","903366,192","903378,292","903378,292","903198,091","903202,446","903202,445999999","903206,997","903207,019","903207,05","903207,047","903208,362",NaN
13,PA,15,Par√°,"1253164,5","1247703,1","1247954,666","1242966,084","1242966,084","1242967,145","1242967,002","1242967,002","1240771,069","1240882,562","1240882,471","1240882,471","1240882,471",NaN
14,PB,25,Para√≠ba,"56584,6",56341,"56469,778","56469,744","56469,744","56468,427","56468,435","56468,435","56467,239","56467,242","56467,242","56467,242","56467,242",NaN
15,PE,26,Pernambuco,"98937,8","98525,7","98148,323","98149,1190000001","98076,1090000001","98076,0010000001","98076,021","98076,021","98068,021","98067,881","98067,88","98067,879","98067,883",NaN
16,PI,22,Piau√≠,"252378,6","251311,2","251214,149","251248,343","251248,343","251248,345","251248,34","251248,34","251252,298","251391,99","251393,109","251393,108","251393,108",NaN
17,PR,41,Paran√°,"199709,1","199282,1","199307,922","199307,945","199307,945","199307,985","199307,939","199307,939","199305,236","199298,979","199298,982","199298,982","199298,976",NaN
18,RJ,33,Rio de Janeiro,"43909,7","43797,1","43780,172","43779,574","43777,954","43781,566","43781,588","43781,588","43750,423","43750,427","43750,426","43750,426","43750,426",NaN
19,RN,24,Rio Grande do Norte,"53306,8","53077,3","52811,047","52811,126","52811,126","52811,11","52811,107","52811,107","52809,602","52809,602","52809,601","52809,601","52809,601",NaN
20,RO,11,Rond√¥nia,"238512,8","237564,6","237590,547","237590,543","237590,543","237765,376","237765,293","237765,293","237765,233","237765,24","237765,347","237765,347","237754,173",NaN
21,RR,14,Roraima,"225116,1","224118,1","224300,506","224303,187","224303,187","224301,08","224300,805","224300,805","224273,831","223644,527","223644,527","223644,527","223644,527",NaN
22,RS,43,Rio Grande do Sul,"269153,9",268836,"268766,275","268661,171","268662,425","268648,273","268648,214","268648,214","268584,402","268533,029","268533,022","268533,021","268516,482",NaN
23,SC,42,Santa Catarina,"95442,8999999999","95286,1","95736,1649999999","95565,4279999999","95564,1729999999","95568,0899999999","95568,1489999999","95568,1489999999","95560,637","95560,4109999999","95560,4109999999","95560,4119999999","95560,4119999999",NaN
24,SE,28,Sergipe,"22050,3","21962,4","21915,116","21918,493","21918,493","21918,454","21918,443","21918,443","21926,908","21925,424","21938,184","21938,185","21938,185",NaN
25,SP,35,S√£o Paulo,"248808,8","248176,6","248222,801","248222,362","248222,362","248221,996","248219,627","248219,627","248219,481","248219,481","248219,481","248219,481","248219,481",NaN
26,TO,17,Tocantins,"278420,7","277297,4","277720,52","277720,569","277720,569","277720,567","277720,412","277720,412","277720,404","277466,763","277423,63","277423,63","277423,631",NaN

In [ ]:
#Seleciona os estados de interesse
df_area = df_area.query("@estados in Estado")

#Seleciona os dados mais recentes (2022)
df_area22 = df_area[["Estado", "Area"]]
df_area22

         Estado         2022
0          Acre   164173,431
2      Amazonas  1559255,883
3         Amap√°   142470,762
9      Maranh√£o   329651,495
12  Mato Grosso   903208,362
13         Par√°  1240882,471
20     Rond√¥nia   237754,173
21      Roraima   223644,527
26    Tocantins   277423,631

teste

In [ ]:
df_com_area = df_geral.merge(df_area22, how='outer', on=["Estado"])
df_com_area

,Estado,Ano,Culturas P. Colhidas (hec),Producao de Milho (R$),Producao de Soja (R$),Despesa Or√ßament√°ria (R$),Culturas T. Colhidas (hec),√Årea Plantada ou Colhida (hec),PIB Estadual,PIB Agr√≠cula Estadual,Focos de Inc√™ndio,2022
0,Acre,1999,9864,18904.94,135.89,16480351.00,81922,91787,1866542.32,280900.59,347.00,"164173,431"
1,Acre,2000,11194,24988.62,NaN,28832578.47,93973,105167,2154284.48,313604.57,430.00,"164173,431"
2,Acre,2001,10652,20954.80,NaN,23410698.78,91928,102604,2475169.50,239926.84,829.00,"164173,431"
3,Acre,2002,13487,29299.78,NaN,41052040.32,90418,113139,2971301.00,269826.59,6739.00,"164173,431"
4,Acre,2003,14160,35786.63,NaN,38074672.00,95655,113362,3377234.00,305032.27,10523.00,"164173,431"
...,...,...,...,...,...,...,...,...,...,...,...,...
193,Tocantins,2016,4572,205070.37,1220868.41,218469173.36,1195553,1232549,31584816.00,2109560.61,14494.00,"277423,631"
194,Tocantins,2017,4083,229747.15,1397605.34,227070044.04,1278379,1282545,34108132.00,2274246.75,15673.00,"277423,631"
195,Tocantins,2018,13046,232523.41,1530335.31,231303102.81,1348373,1361447,35666183.00,2512067.49,8033.00,"277423,631"
196,Tocantins,2019,13704,298800.31,1575215.24,253891184.06,1413202,1427218,39355941.00,2678345.23,13625.00,"277423,631"
197,Tocantins,2020,5286,620513.33,2452103.48,245572935.63,1547057,1552679,43649803.00,4316435.59,12093.00,"277423,631"

In [ ]:
df_geral.to_csv("tabela_geral", index = False, encoding="utf-8")
path = os.getcwd()

print("üìÇ Dataframe salvo em: ", path)