In [31]:
import pandas as pd

import matplotlib.pyplot as plt

In [136]:
df_milho_rs = pd.read_excel("Producao-Milhos/Produção - milho(R$).xls")
df_milho_rs.head(27)

,Sigla,Codigo,Estado,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AC,12,Acre,1.890494e+04,2.498862e+04,2.095480e+04,2.929978e+04,3.578663e+04,2.694729e+04,2.700647e+04,...,3.826859e+04,4.702432e+04,5.294478e+04,4.408378e+04,3.969982e+04,3.682917e+04,3.786428e+04,3.314050e+04,3.089437e+04,3.755522e+04
1,AL,27,Alagoas,1.001480e+04,1.741016e+04,1.351236e+04,3.633074e+04,7.552958e+03,1.649166e+04,1.710002e+04,...,1.509713e+04,7.765829e+02,3.381147e+03,4.173058e+03,7.536855e+03,8.125826e+03,1.122013e+04,9.889093e+03,1.700834e+04,3.381848e+04
2,AM,13,Amazonas,1.257244e+04,1.288772e+04,9.962187e+03,1.003256e+04,1.204044e+04,1.190360e+04,1.845934e+04,...,2.077575e+04,2.156215e+04,1.751752e+04,1.632191e+04,1.275093e+04,6.198567e+03,5.769165e+03,3.934673e+03,3.177370e+03,3.391611e+03
3,AP,16,Amapá,6.635878e+02,6.797185e+02,1.040857e+03,1.229136e+03,6.027713e+02,6.474891e+02,9.033323e+02,...,1.487279e+03,1.152901e+03,7.915861e+02,7.509586e+02,6.809915e+02,5.906116e+02,5.947845e+02,4.269053e+02,4.590471e+02,5.124092e+02
4,BA,29,Bahia,3.751054e+05,5.017268e+05,3.998350e+05,6.388598e+05,7.080565e+05,7.111640e+05,5.836606e+05,...,7.455101e+05,7.197564e+05,7.015824e+05,8.314137e+05,7.932358e+05,7.022042e+05,5.268243e+05,6.727102e+05,5.864947e+05,1.130002e+06
5,CE,23,Ceará,2.103538e+05,3.082783e+05,1.258227e+05,3.864900e+05,4.696721e+05,2.247637e+05,1.664793e+05,...,4.793157e+05,6.278861e+04,6.241677e+04,1.604027e+05,5.645989e+04,6.694655e+04,1.427214e+05,1.711826e+05,1.695457e+05,2.799448e+05
6,DF,53,Distrito Federal,3.791741e+04,5.580912e+04,4.063513e+04,6.714462e+04,9.606044e+04,9.217061e+04,7.670845e+04,...,1.015366e+05,1.275401e+05,1.368943e+05,1.765771e+05,1.278262e+05,1.224869e+05,1.315679e+05,1.062139e+05,1.251327e+05,2.056471e+05
7,ES,32,Espírito Santo,5.781818e+04,6.007141e+04,5.277706e+04,7.798266e+04,9.034077e+04,7.199028e+04,6.990469e+04,...,4.315049e+04,3.483590e+04,2.891557e+04,2.643477e+04,1.180591e+04,1.971920e+04,1.628988e+04,1.726712e+04,1.521654e+04,1.960559e+04
8,GO,52,Goiás,9.709671e+05,1.450633e+06,1.105786e+06,1.503333e+06,1.626976e+06,1.383363e+06,9.930168e+05,...,1.918357e+06,2.587198e+06,2.034518e+06,2.106118e+06,2.238045e+06,2.350322e+06,2.161648e+06,2.447576e+06,3.168265e+06,3.989370e+06
9,MA,21,Maranhão,9.656050e+04,1.317080e+05,1.316840e+05,1.798983e+05,2.305267e+05,1.970051e+05,1.758837e+05,...,3.082333e+05,3.161556e+05,5.167132e+05,4.524466e+05,4.059457e+05,3.244697e+05,4.051566e+05,4.226239e+05,5.016058e+05,8.077675e+05
10,MG,31,Minas Gerais,1.468290e+06,1.907485e+06,1.352121e+06,2.353979e+06,2.669694e+06,2.603272e+06,2.585910e+06,...,2.718340e+06,2.584882e+06,2.439567e+06,2.226533e+06,2.057133e+06,2.655003e+06,1.949920e+06,2.050106e+06,2.489053e+06,3.219409e+06
11,MS,50,Mato Grosso do Sul,5.790661e+05,4.158691e+05,5.665159e+05,5.829541e+05,1.258678e+06,8.274061e+05,3.953028e+05,...,1.213936e+06,2.008793e+06,1.525415e+06,1.528372e+06,2.096980e+06,2.078161e+06,1.737122e+06,2.080791e+06,2.424842e+06,3.921082e+06
12,MT,51,Mato Grosso,2.874550e+05,5.262078e+05,4.069624e+05,1.055972e+06,1.453676e+06,1.014830e+06,1.149849e+06,...,2.672511e+06,3.840922e+06,3.759601e+06,2.743099e+06,3.920653e+06,4.902669e+06,4.261712e+06,5.397833e+06,6.650319e+06,1.009029e+07
13,PA,15,Pará,2.870529e+05,2.782834e+05,2.506566e+05,2.716029e+05,3.836773e+05,3.555040e+05,2.872769e+05,...,2.716385e+05,2.644727e+05,2.790846e+05,2.259175e+05,2.666552e+05,2.911303e+05,2.626249e+05,2.633057e+05,2.653719e+05,3.469570e+05
14,PB,25,Paraíba,9.402967e+03,6.115716e+04,4.063304e+03,5.562456e+04,9.136981e+04,3.877363e+04,3.215460e+04,...,3.172493e+04,3.939362e+03,1.392555e+04,1.300752e+04,4.907528e+03,7.300492e+03,1.153099e+04,2.413508e+04,1.674988e+04,3.821802e+04
15,PE,26,Pernambuco,1.872316e+04,6.926343e+04,1.098636e+04,7.265958e+04,5.302390e+04,3.939021e+04,6.015071e+04,...,5.712962e+04,1.133058e+04,1.223896e+04,2.362643e+04,1.363286e+04,7.982455e+03,1.796347e+04,2.249363e+04,1.229257e+04,4.607725e+04
16,PI,22,Piauí,9.872656e+04,9.644433e+04,6.564697e+04,4.592066e+04,1.453428e+05,7.498820e+04,9.252827e+04,...,3.147742e+05,3.426493e+05,2.022292e+05,3.618794e+05,3.134673e+05,3.011980e+05,4.954635e+05,5.132930e+05,5.516802e+05,8.561049e+05
17,PR,41,Paraná,2.992350e+06,2.941949e+06,3.628124e+06,4.080768e+06,6.017576e+06,4.681980e+06,3.245177e+06,...,4.328523e+06,5.743466e+06,4.637940e+06,3.985872e+06,3.802471e+06,4.867159e+06,3.671320e+06,3.684059e+06,4.560720e+06,6.683465e+06
18,RJ,33,Rio de Janeiro,1.525069e+04,1.620691e+04,1.171433e+04,1.219447e+04,1.589018e+04,1.347210e+04,1.443749e+04,...,8.580244e+03,7.138918e+03,5.747154e+03,4.583945e+03,4.064004e+03,4.996409e+03,3.531380e+03,3.025230e+03,3.461114e+03,3.417996e+03
19,RN,24,Rio Grande do Norte,6.981662e+03,3.089678e+04,4.084163e+03,4.655517e+04,4.980024e+04,3.998670e+04,1.362191e+04,...,2.607032e+04,1.282901e+03,7.000963e+03,7.575977e+03,2.097152e+03,1.912034e+03,2.232278e+03,1.136013e+04,1.266060e+04,1.469417e+04
20,RO,11,Rondônia,6.901205e+04,8.056594e+04,5.497350e+04,1.264604e+05,1.436661e+05,9.411463e+04,9.374662e+04,...,1.259433e+05,1.749484e+05,1.086056e+05,1.454794e+05,2.092633e+05,2.089319e+05,2.043960e+05,1.845185e+05,3.132364e+05,3.967404e+05
21,RR,14,Roraima,1.859524e+04,1.760812e+04,1.617604e+04,1.935461e+04,2.367792e+04,2.002889e+04,1.726113e+04,...,7.135432e+03,7.066221e+03,8.283412e+03,7.964734e+03,8.041598e+03,1.118292e+04,2.038483e+04,1.849337e+04,2.099705e+04,4.713795e+04
22,RS,43,Rio Grande do Sul,1.204064e+06,1.653368e+06,2.319819e+06,1.915449e+06,2.641083e+06,1.684672e+06,6.802567e+05,...,2.154227e+06,1.185409e+06,1.879251e+06,1.601019e+06,1.502197e+06,1.864206e+06,1.549706e+06,1.365399e+06,1.751574e+06,1.609734e+06
23,SC,42,Santa Catarina,1.064396e+06,1.395122e+06,1.112065e+06,1.266285e+06,1.979704e+06,1.534991e+06,1.076440e+06,...,1.334496e+06,9.862672e+05,1.107609e+06,9.459872e+05,8.289011e+05,1.039424e+06,7.941652e+05,8.299009e+05,8.913008e+05,1.018685e+06
24,SE,28,Sergipe,5.151990e+04,3.611450e+04,2.333062e+04,3.048332e+04,4.893771e+04,6.059818e+04,6.765930e+04,...,1.989908e+05,1.441348e+05,2.309299e+05,2.436020e+05,1.850528e+05,6.719270e+04,2.757714e+05,4.263958e+04,3.191737e+05,4.963214e+05
25,SP,35,São Paulo,1.490755e+06,1.484705e+06,1.391711e+06,2.006090e+06,2.159625e+06,2.016096e+06,1.596807e+06,...,1.243125e+06,1.577139e+06,1.373602e+06,1.135002e+06,1.300081e+06,1.747370e+06,1.254525e+06,1.448979e+06,1.529286e+06,2.290706e+06
26,TO,17,Tocantins,3.643467e+04,5.309877e+04,5.670478e+04,6.830726e+04,1.042212e+05,8.245210e+04,6.881436e+04,...,1.431462e+05,1.398311e+05,1.068037e+05,1.450058e+05,1.958897e+05,2.050704e+05,2.297471e+05,2.325234e+05,2.988003e+05,6.205133e+05

In [137]:
# Filtrar apenas as linhas onde o Estado é "Pará"
df_para_milho_rs = df_milho_rs[df_milho_rs["Estado"] == "Pará"]
df_para_milho_rs.head(1)

,Sigla,Codigo,Estado,1999,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
13,PA,15,Pará,287052.857872,278283.391781,250656.630044,271602.855672,383677.276371,355503.965805,287276.941858,...,271638.500808,264472.676169,279084.628294,225917.546962,266655.164783,291130.285511,262624.904042,263305.677122,265371.907309,346956.983994

## Cálculo da Produção de Milho por km² (em milhões de R$)

A fórmula utilizada para calcular a produção de milho por km² em milhões de reais é:

$$
\text{Produção de Milho por km² (milhões de R\$) no ano X} = \left( \frac{\text{Produção de Milho (R\$) no ano X}}{\text{Área total (km²)}} \right) \times 10^6
$$

Onde:

- **Produção de Milho (R$) no ano X**: Valor da produção de milho em reais para um determinado ano.
- **Área total (km²)**: Área total considerada no cálculo (**1.247.954,666 km²**).
- **10⁶**: Fator de conversão para expressar o valor em **milhões de reais**.

In [138]:
#https://www.agenciapara.com.br/pagina/47/para
# Definindo o valor da área (em km²)
para_km = 1247954.666
colunas_producao = df_para_milho_rs.columns[3:]
for i , linha in df_para_milho_rs.iterrows():
    if i >= 3:
        producao_milho_para_por_km2 = (linha[colunas_producao]/para_km)*1000000

In [ ]:
# Definindo o valor da área (em km²)
para_km = 1247954.666

# Selecionando as colunas de produção
colunas_producao = df_para_milho_rs.columns[3:]

# Iterando pelas linhas e modificando os valores diretamente
for i, linha in df_para_milho_rs.iterrows():
    if i >= 3:
        # Modificando diretamente as colunas de produção
        df_para_milho_rs.loc[i, colunas_producao] = (linha[colunas_producao] / para_km) * 1000000

# Verificando os primeiros valores após a modificação
print(df_para_milho_rs.head())

In [139]:
# Inicializando uma lista vazia para armazenar os valores do dicionário
dados = []

# Preenchendo os dados com um for
for valor in producao_milho_para_por_km2:
    dados.append({'Produção Milho (R$)/km²': valor})

# Criando o DataFrame com os dados preenchidos
df_producao_milho_km = pd.DataFrame(dados)

# Exibindo o DataFrame invertido
print(df_producao_milho_km.head(22))

    Produção Milho (R$)/km²
0             230018.658284
1             222991.587245
2             200853.954773
3             217638.399112
4             307444.883075
5             284869.294927
6             230198.219282
7             228859.642119
8             106208.041047
9             107539.352810
10            110131.048832
11             91310.948862
12            217666.961957
13            211924.906709
14            223633.627004
15            181030.251432
16            213673.759190
17            233285.946552
18            210444.266284
19            210989.777350
20            212645.470656
21            278020.503025

In [140]:
df_desmatamento = pd.read_excel("PRODES(DESMATAMENTO)/desmatamento_1999_2020_PARA.xlsx")


# Exibir as primeiras linhas do DataFrame filtrado e ordenado
print(df_desmatamento.head(22))

    year  area km²    uf
0   2024      2362  Pará
1   2023      3299  Pará
2   2022      4162  Pará
3   2021      5238  Pará
4   2020      4899  Pará
5   2019      4172  Pará
6   2018      2744  Pará
7   2017      2433  Pará
8   2016      2992  Pará
9   2015      2153  Pará
10  2014      1887  Pará
11  2013      2346  Pará
12  2012      1741  Pará
13  2011      3008  Pará
14  2010      3770  Pará
15  2009      4281  Pará
16  2008      5607  Pará
17  2007      5526  Pará
18  2006      5659  Pará
19  2005      5899  Pará
20  2004      8870  Pará
21  2003      7145  Pará

In [141]:
df_desmatamento.dtypes

year         int64
area km²     int64
uf          object
dtype: object

In [142]:
df_desmatamento['area km²'] = df_desmatamento['area km²'].astype(float)

In [143]:
df_desmatamento.head(20)

    year  area km²    uf
0   2024    2362.0  Pará
1   2023    3299.0  Pará
2   2022    4162.0  Pará
3   2021    5238.0  Pará
4   2020    4899.0  Pará
5   2019    4172.0  Pará
6   2018    2744.0  Pará
7   2017    2433.0  Pará
8   2016    2992.0  Pará
9   2015    2153.0  Pará
10  2014    1887.0  Pará
11  2013    2346.0  Pará
12  2012    1741.0  Pará
13  2011    3008.0  Pará
14  2010    3770.0  Pará
15  2009    4281.0  Pará
16  2008    5607.0  Pará
17  2007    5526.0  Pará
18  2006    5659.0  Pará
19  2005    5899.0  Pará

In [144]:
# Criar uma cópia do DataFrame original
df_desmatamento_crescente = df_desmatamento.copy()

# Filtrar as linhas onde o ano é maior ou igual a 1990
df_desmatamento_crescente = df_desmatamento_crescente[df_desmatamento_crescente['year'] >= 1990]

# Ordenar o DataFrame pela coluna 'year' em ordem crescente
df_desmatamento_crescente = df_desmatamento_crescente.sort_values(by='year')

# Resetar os índices para começar do 0
df_desmatamento_crescente = df_desmatamento_crescente.reset_index(drop=True)

# Exibir o DataFrame final
print(df_desmatamento_crescente)

    year  area km²    uf
0   1990    4890.0  Pará
1   1991    3780.0  Pará
2   1992    3787.0  Pará
3   1993    4284.0  Pará
4   1994    4284.0  Pará
5   1995    7845.0  Pará
6   1996    6135.0  Pará
7   1997    4139.0  Pará
8   1998    5829.0  Pará
9   1999    5111.0  Pará
10  2000    6671.0  Pará
11  2001    5237.0  Pará
12  2002    7510.0  Pará
13  2003    7145.0  Pará
14  2004    8870.0  Pará
15  2005    5899.0  Pará
16  2006    5659.0  Pará
17  2007    5526.0  Pará
18  2008    5607.0  Pará
19  2009    4281.0  Pará
20  2010    3770.0  Pará
21  2011    3008.0  Pará
22  2012    1741.0  Pará
23  2013    2346.0  Pará
24  2014    1887.0  Pará
25  2015    2153.0  Pará
26  2016    2992.0  Pará
27  2017    2433.0  Pará
28  2018    2744.0  Pará
29  2019    4172.0  Pará
30  2020    4899.0  Pará
31  2021    5238.0  Pará
32  2022    4162.0  Pará
33  2023    3299.0  Pará
34  2024    2362.0  Pará

In [145]:
df_desmatamento_crescente.head(22)

    year  area km²    uf
0   1990    4890.0  Pará
1   1991    3780.0  Pará
2   1992    3787.0  Pará
3   1993    4284.0  Pará
4   1994    4284.0  Pará
5   1995    7845.0  Pará
6   1996    6135.0  Pará
7   1997    4139.0  Pará
8   1998    5829.0  Pará
9   1999    5111.0  Pará
10  2000    6671.0  Pará
11  2001    5237.0  Pará
12  2002    7510.0  Pará
13  2003    7145.0  Pará
14  2004    8870.0  Pará
15  2005    5899.0  Pará
16  2006    5659.0  Pará
17  2007    5526.0  Pará
18  2008    5607.0  Pará
19  2009    4281.0  Pará
20  2010    3770.0  Pará
21  2011    3008.0  Pará

In [146]:
df_desmatamento_crescente.dtypes

year          int64
area km²    float64
uf           object
dtype: object

In [150]:
# Concatenar os dois DataFrames por linhas (verticalmente), ignorando os índices
df_producao_milho_rs_para_km = pd.concat([df_desmatamento_crescente, df_producao_milho_km], axis=1)

# Exibir o DataFrame resultante
df_producao_milho_rs_para_km.head()

   year  area km²    uf  Produção Milho (R$)/km²
0  1990    4890.0  Pará            230018.658284
1  1991    3780.0  Pará            222991.587245
2  1992    3787.0  Pará            200853.954773
3  1993    4284.0  Pará            217638.399112
4  1994    4284.0  Pará            307444.883075

In [153]:
# Exportar o DataFrame filtrado para um arquivo Excel
df_producao_milho_rs_para_km.to_excel("Produção de Milho(R$)-km + desmatamento.xlsx", index=False)

print("\nArquivo 'Produção de Milho(R$)-km + desmatamento' foi gerado com sucesso.")

Arquivo 'Produção de Milho(R$)-km + desmatamento' foi gerado com sucesso.